/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

.container{
height: 100vh;
display: grid;
grid-template-columns: repeat(10,1fr);
grid-template-rows: repeat(10,1fr);
grid-column-gap: 15px;
padding:30px;
align-items:center;
flex-direction:column;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #33969c;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  overflow: hidden;
}

.title1{
  color: #FFF;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;;
  text-align: center;
  letter-spacing: 3px;
  grid-row: 4;
  grid-column: 5;
}
.title2{
  color: #FFF;
  font-size: 60px;
  font-family:font-family: 'Montserrat', sans-serif;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 60px;
  grid-row: 5;
  grid-column: 5;
  font-weight: 600px;
}

.title-circle{
  height:115px;
  grid-row: 3;
  grid-column: 4;
  border-radius: 50%;
  animation-name: circle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  box-shadow: inset -8px -6px 26px #982727;
}

.title-circle2{
  height:115px;
  grid-row: 7;
  grid-column: 3;
  border-radius: 50%;
  animation-name: circle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  box-shadow: inset -8px -6px 26px #982727;
}

.title-circle3{
  height:115px;
  grid-row: 2;
  grid-column: 2;
  border-radius: 50%;
  animation-name: work;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  box-shadow: inset -8px -6px 26px #982727;

}

.title-circle4{
  height:115px;
  grid-row: 6;
  grid-column:6;
  border-radius: 50%;
  animation-name: work;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  box-shadow: inset -8px -6px 26px #982727;

}

.title-circle5{
  height:115px;
  grid-row: 2;
  grid-column:7;
  border-radius: 50%;
  animation-name: circle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  box-shadow: inset -8px -6px 26px #982727;

}

.title-circle6{
  height:115px;
  grid-row: 5;
  grid-column:9;
  border-radius: 50%;
  animation-name: circle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  box-shadow: inset -8px -6px 26px #982727;
}

.title-circle7{
  height:115px;
  grid-row:5;
  grid-column:1;
  border-radius: 50%;
  animation-name: circle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  box-shadow: inset -8px -6px 26px #982727;
}

@keyframes circle{
0% {background-color: #EF551f;}
33% {background-color: yellow;}
}

@keyframes work{
  0% {background-color: yellow;}
  33% {background-color: #EF551f;}
}

.title-line{
  height: 50px;
  grid-row: 3;
  grid-column: 1;
  color: black;
}

.menu {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 46px;
  width: 46px;
}

.menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1002;
}

.menu-icon {
  position: absolute;
  width: 30px;
  height: 14px;
  margin: auto;
  left: 28px;
  top: 0;
  right: 0;
  bottom: 1px;
}

.menu-line{
  background-color: #FFF;
  height:2px;
  width:100%;
  border-radius:2px;
  position:absolute;
  left:0;
  transition:all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-2{
  top:0;
  bottom:0;
  margin:auto;
}

.menu-line-3{
  bottom:0;
}

.menu.open .menu-line-1 {
  transform: translateY(7px) translateY(-50%) rotate(-135deg);
}

.menu.open .menu-line-2 {
  opacity: 0;
}
.menu.open .menu-line-3 {
  transform:translateY(-7px) translateY(50%) rotate(135deg);
}

.menu-circle {
  background-color: #EF551f;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform: scale(1);
  z-index: 1000;
  transition:transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: inset -8px -6px 26px #982727;
}

.menu:hover .menu-circle {
  transform: scale(1.5);
}

.menu.open .menu-circle{
  transform: scale(60);
}

.menu-overlay {
  /* background-color: #EF551f; */
  color: #333;
  position: fixed;
  text-align: center;
  transition: opacity 0.8s ease-in-out;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
}

.menu-overlay.open{
  opacity: 1;
  visibility: visible;
}


.menu-overlay a {
  color: #FFF;
  font-weight: 600;
  font-size: 32px;
  margin:  25% 1% 0;
  display: inline-block;
  text-decoration: none;
}

.menu-overlay a:hover{
  text-decoration: underline yellow;
  transform: scale(1.2);
}
