$orange:#EF551f;
$teal: #33969c;
$main-font:'Montserrat', sans-serif;

@mixin header {
  color: #fff;
  text-decoration: none;
  font-family: $main-font;
  font-size: 30px;
  justify-self:center;
}
@mixin job {
  position: relative;
  animation-name: tetris;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@mixin skill {
  position: relative;
  animation-name: tetris3;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@mixin creativea {
  position: relative;
  animation-name: tetris3;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@mixin header_hover {
  text-decoration: underline yellow;
  opacity: 1;
  transform: translateY(-4px);
}

//////////////////////////////

body {
  margin: 0;
  padding: 0;
  background-color: $teal;
  font-family: $main-font;
  color: #FFF;
  overflow: hidden;
  background-image:url("https://www.transparenttextures.com/patterns/rice-paper-3.png");
}

.container_me{
height: 100vh;
display: grid;
grid-template-columns: repeat(10,1fr);
grid-template-rows: repeat(12,1fr);
padding:30px;
align-items:center;
flex-direction:column;
}
// header///////////////////
.me {
  grid-row:2;
  grid-column: 4/6;
  @include header;
  opacity: 0.4;
}

.work_me {
  grid-row:2;
  grid-column: 6/8;
  @include header;
  opacity: 0.4;
}

.skills_me {
  grid-row:2;
  grid-column: 8/10;
  @include header;
  opacity: 1;

}
.home {
  grid-row:2;
  grid-column: 2/4;
  @include header;
  opacity: 0.4;
}

.me:hover {
  @include header_hover;
}

.work_me:hover {
  @include header_hover;
}

.skills_me:hover {
  @include header_hover;
}
.home:hover {
  @include header_hover;
}

// animation bubble////////////////
.bubble{
  position: absolute;
  width:5em;
  height: 5em;
  border-radius: 100%;
  background-color: yellow;
  box-shadow: inset -8px -6px 26px #982727;
}


//start of tetris///////////
.line_1_dev{
  grid-row:6;
  grid-column: 3/7;
  background-color: grey;
  height: 100%;
  z-index: 1;
  @include job;
}

.line_2_adobe{
  grid-row:7;
  grid-column: 3/6;
  background-color: grey;
  height: 100%;
  z-index: 1;
  @include job;
}

.line_3{
  grid-row:8;
  grid-column: 3/7;
  background-color: grey;
  height: 100%;
  z-index: 1;
  position: relative;
  animation-name: tetris;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

.languages{
  grid-row: 5;
  grid-column: 3/6;
  font-size: 28px;
  @include job;
}

@keyframes tetris {
  from { top:-100px;}
  to { top: 0px;}
}

.job1{
  grid-row: 8;
  grid-column: 3/4;
  padding-left: 7px;
  z-index: 2;
  color:#fff;
  @include job;
}

.job2{
  grid-row: 8;
  grid-column: 4/6;
  z-index: 2;
  color:#fff;
  @include job;
}

.job3{
  grid-row: 8;
  grid-column: 5/6;
  z-index: 2;
  color:#fff;
  @include job;
}
.job4{
  grid-row: 8;
  grid-column: 6/7;
  z-index: 2;
  color:#fff;
  @include job;
}

.job5{
  grid-row: 7;
  grid-column: 3/4;
  z-index: 2;
  padding-left: 7px;
  @include job;
}

.job6{
  grid-row: 7;
  grid-column: 4/6;
  z-index: 2;
  @include job;
}
.job7{
  grid-row: 7;
  grid-column:5/6;
  z-index: 2;
  @include job;
}
.job8{
  grid-row: 6;
  grid-column:3/4;
  background-color: grey;
  padding-left: 7px;
  z-index: 4;
  @include job;
}

.job9{
  grid-row: 6;
  grid-column:4/5;
  background-color: grey;
  padding-left: 7px;
    z-index: 4;
  @include job;
}

.job10{
  grid-row: 6;
  grid-column:5/6;
  background-color: grey;
  padding-left: 7px;
  z-index: 4;
  @include job;
}

.job11{
  grid-row: 6;
  grid-column:6/7;
  background-color: grey;
  padding-left: 7px;
  z-index: 4;
  @include job;
}

@keyframes tetris3 {
  from { top:-300px;}
  to { top: 0px;}
}

.skills{
  grid-row: 5;
  grid-column: 9/11;
  font-size: 28px;
  @include skill;
}

.software{
  grid-row: 7;
  grid-column: 8;
  z-index: 2;
  padding-left: 7px;
  @include skill;
}

.line_4{
  grid-row: 7;
  grid-column: 6/9;
  background-color: $orange;
  height: 100%;
  z-index: 1;
  @include skill;
}


@keyframes tetris2 {
  from { top:-300px;}
  to { top: 0px;}
}
@mixin soft {
  position: relative;
  animation-name: tetris2;
  animation-duration: 5s;
  animation-iteration-count: 1;
  z-index: 2;
}

.soft_skills{
  grid-row: 5;
  grid-column: 7/9;
  font-size: 28px;
  @include skill;
}

.iniative{
  grid-row: 6;
  grid-column: 7/8;
  padding-left: 7px;
    z-index: 5;
  background-color:$orange;
  @include skill;
}
.responsible{
  background-color:$orange;
  grid-row: 7;
  grid-column: 6;
  z-index: 5;
  padding-left: 7px;
  @include skill;

}
.problem_solver{
  background-color:$orange;
  grid-row: 7;
  grid-column: 7;
  z-index: 5;
  padding-left: 7px;
  @include skill;

}
.teamwork{
  background-color:$orange;
  grid-row: 7;
  grid-column: 8;
  z-index: 5;
  padding-left: 7px;
  @include skill;

}
.friendly{
  background-color:$orange;
  grid-row: 6;
  grid-column: 8;
  z-index: 5;
  padding-left: 7px;
  @include skill;
}

@keyframes side{
  0%   {  left:0px; }
  25%  {  left:150px;}
  50%  {  left:0px;}
  75%  {  left:150px;}
  100% {  left:0px;}
}


.creative{
  color:$orange;
  grid-row: 8;
  grid-column: 7/9;
  z-index: 5;
  padding-left: 7px;
  font-size: 20px;
  @include creativea;
  animation-name: side;
  animation-duration: 6s;
  animation-iteration-count: 3;
}

.line_6{
  background-color: yellow;
  grid-row: 8;
  grid-column: 7/9;
  height: 100%;
  border-bottom-right-radius: 50%;
}

.line_5{
  grid-row: 6;
  grid-column: 7/9;
  background-color:$orange;
  height: 100%;
  z-index: 1;
  position: relative;
  animation-name: tetris3;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@media (max-width:700px) {
  .container_me .home{
    grid-row:2;
    grid-column: 1/4;
    justify-self:left;
  }

  .container_me .me{
    grid-row:3;
    grid-column: 1/4;
    justify-self:left;
  }
  .container_me .work_me{
    grid-row:2;
    grid-column:5/7;
    justify-self:left;
  }
  .container_me .skills_me{
    grid-row:3;
    grid-column:5/7;
    justify-self:left;
  }

  .container_me .creative{
    animation-name: none;

  }
}
